<?xml version="1.0" encoding="UTF-8"?>
<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<module name="org.wildfly.arquillian.junit.test.client-spi" xmlns="urn:jboss:module:1.9">

    <resources>
        <artifact name="org.wildfly.arquillian.test:client-spi:1.0.0.Beta1" />
    </resources>

    <dependencies>
        <module name="java.logging" />
    </dependencies>
</module>