# This workflow is for a nightly run against WildFly upstream

name: Build and Test Against Arquillian Core

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.mvn'
      - '.gitignore'
      - '.gitleaks.toml'
      - 'CODE_OF_CONDUCT.md'
      - 'CODEOWNERS'
      - 'CONTRIBUTING.adoc'
      - 'dco.txt'
      - 'LICENSE.txt'
      - 'mvnw'
      - 'mvnw.cmd'
      - '**/README.adoc'
      - 'SECURITY.md'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wildfly-arquillian-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['11', '17', '21']

    steps:
      - uses: actions/checkout@v4
        name: Checkout Arquillian Core
        with:
          repository: arquillian/arquillian-core
          path: arquillian-core
      - uses: actions/checkout@v4
        name: Checkout WildFly Arquillian
        with:
          path: wildfly-arquillian
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Arquillian Core
        id: arquillian-core
        shell: bash
        run: |
          cd arquillian-core
          mvn -B -ntp clean install -DskipTests
          echo "arquillian-core-version=$(mvn -B help:evaluate -Dexpression=project.version -DforceStdout -q)" >> $GITHUB_OUTPUT
      - name: Build with Maven Java ${{ matrix.java }}
        run: |
          cd wildfly-arquillian
          mvn -B -ntp clean clean install '-Dversion.org.jboss.arquillian.core=${{ steps.arquillian-core.outputs.arquillian-core-version }}' '-Dorg.wildfly.logging.skipLogManagerCheck=true'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*'
      - name: Upload server logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/*.log'
