# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/wildfly-build.yml'
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.mvn'
      - '.gitignore'
      - '.gitleaks.toml'
      - 'CODE_OF_CONDUCT.md'
      - 'CODEOWNERS'
      - 'CONTRIBUTING.adoc'
      - 'dco.txt'
      - 'LICENSE.txt'
      - 'mvnw'
      - 'mvnw.cmd'
      - '**/README.adoc'
      - 'SECURITY.md'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  legacy-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest ]
        java: ['11']

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven Java ${{ matrix.java }}
        run: mvn -B clean verify '-Dorg.wildfly.logging.skipLogManagerCheck=true'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/server.log'

  wildfly-arquillian-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['17', '21']
        profile:
          - ""
          - "'-Pwildfly-preview'"

    steps:
      - uses: actions/checkout@v4
      - uses: wildfly-extras/wildfly-nightly-download@v1
        id: wildfly-nightly
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven Java ${{ matrix.java }} ${{ matrix.profile }}
        run: |
          mvn clean install '-Dversion.org.wildfly=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Dorg.wildfly.logging.skipLogManagerCheck=true' ${{ matrix.profile }}
      - name: Upload surefire reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}${{ matrix.profile }}
          path: '**/surefire-reports/*'
      - name: Upload server logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}${{ matrix.profile }}
          path: '**/*.log'
