# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

jobs:
  wildfly-build:
    runs-on: ubuntu-latest
    outputs:
      wildfly-version: ${{steps.version.outputs.wildfly-version}}
    steps:
      - name: Checkout WildFly
        uses: actions/checkout@v2
        with:
          repository: wildfly/wildfly
          fetch-depth: 0
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build WildFly
        run: 'mvn clean install -DskipTests -Dcheckstyle.skip=true -Denforcer.skip=true -pl galleon-pack -am'
      - id: version
        run: echo "::set-output name=wildfly-version::$(mvn -B help:evaluate -Dexpression=project.version -pl . | grep -v '^\[')"
      - uses: actions/upload-artifact@v2
        with:
          name: maven-repository
          path: ~/.m2/repository/

  wildfly-arquillin-build:
    runs-on: ${{ matrix.os }}
    needs: wildfly-build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['1.8', '11']

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/download-artifact@v2
        with:
          name: maven-repository
          path: ~/.m2/repository/
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Maven Java ${{ matrix.java }}
        run: mvn clean verify '-Dorg.wildfly.logging.skipLogManagerCheck=true' '-Dversion.org.wildfly.full=${{needs.wildfly-build.outputs.wildfly-version}}' '-Dversion.org.wildfly=${{needs.wildfly-build.outputs.wildfly-version}}'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*.txt'
      - name: Upload server logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/server.log'
      - name: Delete the shared repository
        uses: geekyeggo/delete-artifact@v1
        with:
          name: maven-repository
          failOnError: false
